html, body {
  height: 100%;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
#gameContainer {
  flex-grow: 1;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .app-container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}

/* Responsive: Portrait tablets and down */

@media screen and (max-width: 768px) {
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
#chat-container {
  display: flex;
  flex-direction: column;
  background: #343436;
  /* Responsive: Portrait tablets and up */
  /* Responsive: Portrait tablets and down */
}
@media screen and (min-width: 768px) {
  #chat-container {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  #chat-container {
    width: 100%;
    height: 300px;
  }
}
.chat-header {
  color: #ccc;
  border-bottom: 2px solid #FEDD31;
  padding: 20px;
}
.msg-list {
  color: #ccc;
  padding: 20px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}
.msg {
  list-style-type: none;
}
.input-container {
  display: flex;
  margin-top: auto;
}
.inputbox {
  padding: 10px 10px 10px 10px;
  width: 100%;
}
.send {
  background-color: #FEDD31;
  border: none;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid black;
}
